[bgcolor="#fafaf0"],
[bgcolor="#f6f6ef"] {
  background-color: #131210;
}

body {
  background-color: #1B1916;
  color: #BBB3A9;
}

td {
  color: #BBB3A9;
}

td[bgcolor="#ff6600"] {
  background-color: #E17A3F;

  .pagetop,
  .pagetop a {
    color: #131210 !important;
  }

  img[src="y18.svg"] {
    content: url("data:image/svg+xml,%3Csvg%20height%3D%2218%22%20viewBox%3D%224%204%20188%20188%22%20width%3D%2218%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4%204h188v188H4z%22%20fill%3D%22%23E17A3F%22%2F%3E%3Cpath%20d%3D%22M73.252%2045.01%2096%2092.401l22.748-47.391h19.566l-34.324%2064.487v41.493H88.01v-41.493L53.686%2045.01z%22%20fill%3D%22%23131210%22%2F%3E%3C%2Fsvg%3E");
    border-color: #131210 !important;
  }

  [color="#ffffff"] {
    color: #131210;
  }
}

td[bgcolor="#ffffaa"] {
  background-color: #D9A441;

  td {
    color: #131210;
  }
}

.subtext,
.comhead {
  &,
  a:link,
  a:visited,
  a:hover {
    color: #3E3A34 !important;
  }
}

a:link {
  color: #6785A1;

  &:hover {
    color: #6785A1;
  }
}

.hnmore a:link,
a:visited {
  color: #9A788F;
}

[color="#3c963c"] {
  color: #879B5C;
}

.score {
  color: #9A938A;
}

.title {
  color: #9A788F;
}

.commtext {
  color: #BBB3A9;
}

input,
textarea,
select {
  background-color: #1B1916;
  color: #BBB3A9;
  border-width: 1px;
  border-style: solid;
  border-color: #23201C;
  border-radius: 2px;
}

input {
  padding: 2px;
}

td.comment > div > font {
  color: #BBB3A9;
}

.toptext {
  color: #BBB3A9;
}

.votearrow {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2016%22%20width%3D%2232%22%3E%3Cpath%20d%3D%22M2%2027%2016-2l14%2029z%22%20fill%3D%22%239A938A%22%2F%3E%3C%2Fsvg%3E");
}

.yclinks {
  color: #3E3A34;
}

b {
  color: #BBB3A9;
}

table[bgcolor="#ff6600"] {
  background-color: #E17A3F;
}
