:root,
.dark,
.theme-dark {
  --color-text-primary: #BBB3A9;
  --color-text-secondary: #9A938A;
  --color-background-page: #131210;
  --color-background-primary: #1B1916;
  --color-background-secondary: #23201C;
  --color-link-normal: #6785A1;
  --color-link-visited: #9A788F;
  --color-border-primary: #58534C;
  --color-border-secondary: #3E3A34;
  --color-border-active: #E17A3F;
  --color-area-background: rgb(225 122 63 / 25%);
  --color-area-highlight-border: #E17A3F;
  --color-area-link: #E17A3F;
  --color-background-red: rgb(179 74 69 / 25%);
  --color-background-orange: rgb(225 122 63 / 25%);
  --color-background-yellow: rgb(217 164 65 / 25%);
  --color-background-green: rgb(135 155 92 / 25%);
  --color-background-blue: rgb(103 133 161 / 25%);
  --color-background-purple: rgb(154 120 143 / 25%);
  --color-white: #BBB3A9;
  --color-white-alpha-25: rgb(187 179 169 / 25%);
  --color-white-alpha-75: rgb(187 179 169 / 75%);
  --color-black: #131210;
  --color-black-alpha-25: rgb(19 18 16 / 25%);
  --color-black-alpha-75: rgb(19 18 16 / 75%);

  --color-gray-90: #f2ece7;
  --color-gray-80: #dccdc2;
  --color-gray-60: #b09884;
  --color-gray-40: #6b5647;
  --color-gray-20: #332a24;
  --color-gray-10: #221b17;
  --color-gray-05: #191412;

  --baseline-bg: #23201C;
  --baseline-engine-bg: #131210;
  --baseline-check: #879B5C;
  --baseline-cross: #E17A3F;

  &.high {
    --baseline-bg: rgb(135 155 92 / 20%);
    --baseline-engine-bg: rgb(135 155 92 / 20%);
    --baseline-check: #879B5C;
  }

  &.low {
    --baseline-bg: rgb(103 133 161 / 20%);
    --baseline-engine-bg: rgb(103 133 161 / 20%);
    --baseline-check: #6785A1;
    --baseline-pill-bg: #6785A1;
    --baseline-pill-color: #131210;
  }
}
